node_modules.tar.gz
/node_modules
.env
*.http

build/controllers
build/database/config
build/database/models
build/helpers
build/interfaces
build/middlewares
build/routes
build/services
build/validations
build/app.js
build/server.js
